 .hero-header {
   background-image: url('../Assets/Hero-bg.png');
   background-size: cover;
   height: 350px;
 }

 .raleway-raleway {
   font-family: "Raleway", sans-serif;
   font-optical-sizing: auto;
   font-weight: 600;
   font-style: normal;
 }

 .text-color {
   color: #4E47FF;
   font-weight: 800;
 }

 .form-in-one-line {
   display: flex;
   justify-content: space-between;
   padding-right: 8%;
   padding-left: 8%;
   padding-top: 2%;
 }

 .btn-sign-up {
   height: 30px;
   width: 80px;
   background-color: #4E47FF;

   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0;
   border: none;
   border-radius: 8px;
   cursor: pointer;
 }

 .stay-focus-btn {
   height: 27px;
   width: 120px;
   background-color: #4E47FF;

   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0;
   border: none;
   border-radius: 8px;
   cursor: pointer;
 }

 .color {
   color: white;
 }

 .container {
   height: 70px;
   width: 80%;
   display: flex;
   align-items: center;
   justify-content: center;
   /* background-color: #f0f0f0; */
   padding: 50px 10px 30px 10px;
   margin: 0 auto;
   gap: 20px;
 }

 .center-box {
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

 }

 .center-box-h2 {
   margin: 0;
   line-height: 1.2;
 }

 .section1 {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 50px;
   max-width: 1200px;
   margin: auto;
 }

 .text-content {
   max-width: 50%;
 }

 .launch-button {
   height: 30px;
   width: 180px;
   background-color: #4E47FF;

   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0;
   border: none;
   border-radius: 8px;
   cursor: pointer;
 }

 .preview-image {
   max-width: 30%;
   border-radius: 24px;
 }

 .section2 {
   background-color: rgb(171, 169, 215);
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 40px;
   max-width: 1200px;
   width: 100%;
   margin: auto;
   box-sizing: border-box;
    text-align: center; 
    flex-direction: column;
    border-radius: 20px;
 }
 .action-div{
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
 }
 .user-div-size {
  width: 110px;
  height: 80px;
  display: flex;
  flex-direction: column;
  row-gap: 1px; 
  align-items: center; 
  justify-content: center; 
  /* background-color: #f0f0f0;  */
  border-radius: 8px;  
}
.user-div-size h1 {
  margin-bottom: 0;
}

.user-div-size p {
  margin-top: 0;
}

.raleway-inter{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.text-color-h1{
  color: #4E47FF;
  font-size: xx-large;
}
.user-div-size p {
  font-size: 12px; 
}
