 .hero-header {
   background-image: url('Assets/Hero-bg.png');
   background-size: cover;
   background-position: center;  
  background-repeat: no-repeat;
  height: 500px;
 }

 .raleway-raleway {
   font-family: "Raleway", sans-serif;
   font-optical-sizing: auto;
   font-weight: 600;
   font-style: normal;
 }

 .text-color {
   color: #4E47FF;
   font-weight: 800;
 }
 button:hover {
    background-color: #0056b3; 
    transform: scale(1.05); 
}

 .form-in-one-line {
   display: flex;
   justify-content: space-between;
   padding-right: 8%;
   padding-left: 8%;
   padding-top: 2%;
 }

 .btn-sign-up {
   height: 30px;
   width: 80px;
   background-color: #4E47FF;

   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0;
   border: none;
   border-radius: 8px;
   cursor: pointer;
 }

 .stay-focus-btn {
   height: 27px;
   width: 120px;
   background-color: #4E47FF;

   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0;
   border: none;
   border-radius: 8px;
   cursor: pointer;
 }

 .color {
   color: white;
 }

 .container {
   height: 70px;
   width: 80%;
   display: flex;
   align-items: center;
   justify-content: center;
   /* background-color: #f0f0f0; */
   padding: 50px 10px 30px 10px;
   margin: 0 auto;
   gap: 20px;
 }

 .center-box {
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

 }

 .center-box-h2 {
   margin: 0;
   line-height: 1.2;
 }

 .section1 {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 50px;
   max-width: 1200px;
   margin: auto;
 }

 .text-content {
   max-width: 50%;
 }

 .launch-button {
   height: 30px;
   width: 180px;
   background-color: #4E47FF;

   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0;
   border: none;
   border-radius: 8px;
   cursor: pointer;
 }

 .preview-image {
   max-width: 30%;
   border-radius: 24px;
 }

 .section2 {
   background-color: #dadae1;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 40px;
   max-width: 1200px;
   width: 100%;
   height: 200px;
   margin: auto;
   box-sizing: border-box;
   text-align: center;
   flex-direction: column;
   border-radius: 20px;
 }

 .action-div {
   display: flex;
   justify-content: space-between;
   column-gap: 30px;
 }

 .user-div-size {
   width: 200px;
   height: 80px;
   display: flex;
   flex-direction: column;
   row-gap: 1px;
   align-items: center;
   justify-content: center;
   /* background-color: #f0f0f0;  */
   border-radius: 8px;
 }

 .user-div-size h1 {
   margin: 0;
   font-size: 28px;
   font-weight: 800;
   line-height: 1;
   padding-bottom: 2px;
   font-feature-settings: "tnum";
 }

 .user-div-size p {
   margin-top: 0;
 }

 
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
 .text-color-h1 {
   color: #4E47FF;
   font-size: largers;
 }

 .user-div-size p {
   font-size: 12px;
 }

 .contact-container {
   height: 400px;
   max-width: 1000px;
   width: 100%;
   background-color: #e5e5f2;
   align-items: center;
   padding: 40px;
   border-radius: 15px;
   margin: auto;
   display: flex;
   justify-content: space-between;
   gap: 10px;


 }

 .text-size-h1 {
   font-size: 45px;
 }

 .text_center {
   text-align: center;
 }

 .card {
   background-color: white;
   border-radius: 10px;
   padding: 25px;
   box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
   width: 100%;
   max-width: 320px;
   text-align: left;
 }

 .stars {
   color: gold;
   font-size: 20px;
   margin-bottom: 10px;
 }

 .card h3 {
   font-size: 20px;
   font-weight: bold;
   margin: 10px 0;
 }

 .card p {
   font-size: 14px;
   color: #555;
 }

 .reviewer {
   display: flex;
   align-items: center;
   margin-top: 20px;
   gap: 10px;

 }

 .reviewer img {
   width: 40px;
   height: 40px;
   border-radius: 50%;
 }

 .name {
   font-weight: bold;
   margin: 0;
 }

 .date {
   font-size: 12px;
   color: #888;
   margin: 0;
 }

 .review_container {

   display: flex;
   padding: 40px;
   justify-content: center;
   align-items: flex-start;
   max-width: 100%;
   gap: 20px;
   width: 1200px;
   margin: 0 auto;
   padding: 20px;
  
 }

 .review_section {
   align-items: center;
   width: 1100px;
   max-width: 100%;
   margin: auto;
   padding-left: 20px;
 }

 .reviewer_card {
   padding: 24px;
   background-color: #f2d9d9;
   width: 366px;
   height: 210px;
 }

 .reviewers {
   margin-top: 100px;
   font-size: 40px;
   /* Optional: in case you want to style it */
   font-weight: bold;
   /* Optional */
 }
.focus{
  background-color: #dfdfec;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 40px;
   max-width: 1100px;
   width: 100%;
   height: 500px;
   margin: auto;
   box-sizing: border-box;
   flex-wrap: wrap;
   flex-direction: column;
   gap: 0;
   border-radius: 20px;
   box-sizing: border-box;
   text-align: center; 
}
.focus div img {
    width: 500px;   
    height: auto;   
    display: block; 
    margin-top: 10px; 
}
.get-btn{
   background-color: #4E47FF;
   border: none;
}

 input {
   width: 300px;
   height: 20px;
   font-size: 16px;
   padding: 10px;
   border-radius: 10px;
   border: none;
 }

 textarea {
   width: 300px;
   height: 60px;
   font-size: 16px;
   padding: 10px;
   border-radius: 10px;
 }

 .contact-text {
   flex: 1;
   max-width: 60%;
  
 }

 .contact-form {
   flex: 1;
   max-width: 60%;
   
 }

 .submit-btn {
   background-color: #4E47FF;
   width: 300px;
   height: 40px;
   text-align: center;
   border-radius: 10;
   border: none;
 }

 .footer-style {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 40px 20px;
 }

 .logo-color {
   color: #4E47FF;
   font-weight: 800;
   font-size: 64px;
 }

 .footer-subtitle p {
   text-align: center;
   margin-top: 0;
 }

 .footer-links {
   display: flex;
   justify-content: center;
   gap: 40px;

 }

 .footer-links a {
   text-decoration: none;
 }